// Fonts:
$body-font: 'Roboto', Arial, Helvetica, sans-serif;


// $font-size-h1-mobile: 1.5rem;

// Colors
$accent-green-color: #485e56;
$flat-black-color: #2C3E50;
$main-backing-color: #ecefed;
$off-white-color: #e5dcdc;
$flat-white-color: #f6f6f6f3;
$input-bg: #ffffff;
$logo-green-color: #495e57; 
$accent-yellow: #f4ce14;
