/* css reset */
*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// move to mixin
:root {
  --body-font: 'Roboto', Arial, Helvetica, sans-serif;

  /*colors */
  --accent-green-color: #485e56;
  --flat-black-color: #2C3E50;
  --logo-green-color: #495e57;
  --main-backing-color: #ecefed;
  --off-white-color: #e5dcdc; 

  /* values */
  --max-width: 1280px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--main-backing-color);
  color: var(--flat-black-color);
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
  max-width: 100vw;
  overflow-x: hidden;
}

ul, ol {
  font-family: var(--body-font);
  list-style: none;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.app {
  position: relative;
}