@use "./styles/partials/variables" as *;

/* css reset */
*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $body-font;
  scroll-behavior: smooth;
}

body {
  background: $main-backing-color;
  color: $flat-black-color;
  display: flex;
  flex-direction: column;
}

ul, ol {
  font-family: $body-font;
  list-style: none;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-inline: auto;

  .touchOffDiv {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
}
