@use "../../../styles/partials/variables.scss" as *;

.notFound {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100dvh - (6rem + 2rem));
  margin-top: calc(-100dvh + 4rem);
  
  @media(min-width: 768px) {
    margin-top: 0;
  }
  
  &__pic {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__boy {
    width: 45vw;
    
    @media(min-width: 768px) {
      margin-top: -4rem;
      width: 35vw;
    }

    @media(min-width: 1080px) {
      width: 25vw;
    }
  }

  &__header, &__sub-header {
    text-align: center;
    color: $logo-green-color;
    line-height: 1.5
  }
}